<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cadastrar</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<header th:insert="components/nav_home.html"></header>
<div class="container">
    <br>
    <h2>Cadastrar Aluno</h2>
    <br>
    <form th:action="@{/alunos/cadastrar-aluno}" method="post" th:object="${aluno}">

        <input type="hidden" th:field="*{id}" />
        <input type="hidden" th:field="*{nota1}" />
        <input type="hidden" th:field="*{nota2}" />
        <input type="hidden" th:field="*{nota3}" />
        <input type="hidden" th:field="*{faltas}" />
        <input type="hidden" th:field="*{notaFinal}" />
        <input type="hidden" th:field="*{situacao}" />

        <div class="form-group col-6" style="padding: 0">
            <label class="sr-only" for="name">Nome</label>
            <input class="form-control" id="name" placeholder="Nome" type="text" th:field="*{nome}"/>
        </div>
        <div class="form-group col-6" style="padding: 0">
            <label class="sr-only" for="datanascimento">Data de Nascimento</label>
            <input class="form-control" id="datanascimento" type="date" placeholder="Data de Nascimento" th:field="*{datanascimento}"/>
        </div>
        <button class="btn btn-primary" type="submit">
            <span th:if="${aluno.id == null}">Cadastrar</span>
            <span th:if="${aluno.id != null}">Atualizar</span>
        </button>
    </form>
    <div th:if="${errorMessage}" class="alert alert-danger">
        <strong th:text="${errorMessage}"></strong>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
